body {
	font-family: Lato;
}

h1, h2 {
  font-family: Cairo;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: red;
}

.navigation {
  font-family: Cairo;
  display: flex;
  flex-direction: column;
}

.photos {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   box-shadow: 25px 25px black;
   border: 2px solid black;
   border-radius: 25px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin: 10px;
   padding: 10px;
}

.contact {
    text-align: center;
	border: 2px solid black;
	padding: 12px;
}